* {
    font-family: Arial;
    font-size: 15px;
}

h1 {
    font-size: 20px;
}

#uppercase {
    text-transform: uppercase;
}

.languages {
    background-color: lightgreen;
   
}


[type="border"] {
    width: 400px;
 }

 span {
     border: solid;
     display: flex;
     flex-direction: row;
     border-color: lightblue;
     border-width: 1px;
     margin-bottom: 0%;
     margin-top:0;
 }

 div {
     line-height: .2
     ;
 }

 div #JSlogo {
     width:80px;
     border-radius:40px;
 }

 div > p {
    letter-spacing:5px;
    font-size: 12px;
    margin-left:25px;
 }

 div~p {
     text-align:center;
 }